[Unit]
Description=Camera Surveillance App
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/backupadmin/camera_raspberry
ExecStart=/usr/bin/python3 -m src.main
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
User=backupadmin

[Install]
WantedBy=multi-user.target
